{% load static %}

{% block css %}
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,500&display=swap" rel="stylesheet">
 {% endblock %} 

<div class="">

        <div class="navbar">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'images/Logo 2.webp'%}" alt="Tech Academy">
            </a>
            <div class="rightside">
                <a href="https://www.tech.edu.az/">GO TO TECH</a>
            </div>
        </div>

    </div>